<style>
    .component {
        border: 1px solid black;
    }

    .makemoney {
        font-size: larger; /* Larger text size */
        color: green; /* Green text color */
    }

    .losemoney {
        font-size: larger; /* Larger text size */
        color: red; /* Green text color */
    }

    .descriptiondiv {
        border: 1px solid #ddd; /* Example border style */
        padding: 15px; /* Example padding */
        width: 100%; /* Full width */
    }

    moneytable {
        width: 100%; /* Table occupies full width of its container */
        margin: auto; /* Center the table */
    }

    .custom-table {
        width: 100%; /* Full width for the table */
        border-collapse: collapse; /* Ensures borders are neat */
    }

    .custom-table, .custom-table th, .custom-table td {
        border: 1px solid #000; /* Solid black border for table and cells */
        text-align: center; /* Center text in cells */
        padding: 8px; /* Padding inside cells */
    }

    .carousel-container {
        width: 400px;
        margin: auto;
    }

</style>
<div class="container padding">
    <div class="row">
        <div class="col-md-9">
            <h4>
                Address: {{ listingdetails.address.streetAddress }} , {{ listingdetails.address.city }}
                Neighour: {{ neighbourhood }}
            </h4>
            <p>
                {{ listingdetails.description }}
            </p>
        </div>
        <div class="col-md-3">
            <h4>
                Listing Price {{ listingdetails.price }}
            </h4>
        </div>
    </div>
    <div class="row component ">
        <div class="col-md-5 component">
            <div id="{{ carid }}" class="carousel slide carousel-container" data-ride="carousel">
                <div class="row">

                        <div class="col">
                        {% for image in images %}
                            <img src="{{ image.url }}" class="img-fluid" alt="{{ image.caption }}">
{#                            <img src="{{ image.url }}" class="img-fluid" alt="{{ image.caption }}">#}
{#                            <img src="{{ image.url }}" class="img-fluid" alt="{{ image.caption }}">#}
                        {% endfor %}
{#                            <h5>{{ image.caption }}</h5>#}
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
