<table border="1">
    <!-- Table headers -->
    <thead>
    <tr>
        {#        <th>zpid</th>#}
        <th>Listing Price</th>
        {#                <th>zestimate</th>#}
        {#        <th>unit</th>#}
        <th>Address</th>
        {#        <th>city</th>#}
        {#        <th>state</th>#}
        {#        <th>zipcode</th>#}
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Living Area</th>

        <th>Days on Zillow</th>
        <th>Rent Estimate</th>
        <th>Cashflow</th>

{#                <th>Rent Estimate (2)</th>#}
        {#        <th>homeType</th>#}
        {#        <th>ListingLength</th>#}
    </tr>
    </thead>

    <!-- Table data -->
    <tbody>
    {% for (listing, cashflow) in listings %}
        <tr>
            {#            <td>{{ listing.zpid }}</td>#}
            <td>{{ listing.price }}</td>
            {#            <td>{{ listing.zestimate }}</td>#}
            {#            <td>{{ listing.unit }}</td>#}
            <td>{{ listing.streetAddress }} , {{ listing.city }}</td>
            {#            <td></td>#}
            {#            <td>{{ listing.state }}</td>#}
            {#            {{ listing.streetAddress }}#}
            {#            <td>{{ listing.zipcode }}</td>#}
            <td>{{ listing.bedrooms }}</td>
            <td>{{ listing.bathrooms }}</td>
            <td>{{ listing.livingArea }}</td>
            <td>{{ listing.daysOnZillow }}</td>
            <td>{{ listing.rentZestimate }}</td>
                       <td>{{ cashflow | int }}</td>
            {#            <td>{{ listing.homeType }}</td>#}
            {#            <td>{{ listing.list2pend }}</td>#}
        </tr>
    {% endfor %}
    </tbody>
</table>