<!DOCTYPE html>
<html>
<head>
    <title>Clickable Map with Leaflet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    {% include 'ClickAbleMap/clickablecss.html' %} <!-- Reference external CSS -->
</head>
<body>
<div id="main-content">
    <div id="map-container">
        <div id="topSection">
            {% include 'ClickAbleMap/zone_edit.html' %} <!-- Include filter form -->
        </div>
        <div id="map_Sold"></div>
    </div>

</div>

{% include 'ClickAbleMap/ClickMapScript.html' %}
</body>
</html>