<!DOCTYPE html>
<html>
<head>
    <title>DrillBreakerApp</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
        <h1>Hello World WTF</h1>
        <form action="{{ url_for('main.send_test_email') }}" method="post">
            <button type="submit">Send Test Email Hello</button>
        </form>
        <a href="http://127.0.0.1:5000/beaman">be</a>
        <a href="http://127.0.0.1:5000/showdb">showdbafdsf</a>
        <a href="http://127.0.0.1:5000/newlistings">newlistings</a>
                <p>fkajdsf</p>
        <a href="http://127.0.0.1:5000/allthesoldhomes">allthesoldhomes</a>

        <a href="http://127.0.0.1:5000/downloadpicsfromMLS">downloadpicsfromMLS</a>
        <p>fkajdsf</p>
        <a href="http://127.0.0.1:5000/mapexample">mapexample</a>
        <p>fkajdsf</p>
        <a href="http://127.0.0.1:5000/heatmapexample">heatmapexample</a>
        <p>Where to Build</p>
        <a href="http://127.0.0.1:5000/wheretobuild">Where to Build</a>

</body>
</html>
