<!DOCTYPE html>
<html>
<head>
    <title>Map Example</title>
    <!-- Include Leaflet CSS and JavaScript -->
</head>
<body>
{#    <div id="map" style="width: 100%; height: 600px;"></div>#}
{#    <div id="coordinates">Coordinates: <h2 id="description"></h2></div>#}

    <!-- Folium map -->
    {{ map|safe }}

    <div id="info">Info: <h2 id="description"></h2></div>
    <button id="submitBtn">Justify New Build Prices</button>
{##}
{#    <form id="descriptionForm" method="post" action="/mappotentialValue">#}
{#        <div id="info">Info: <input type="text" name="description" id="description2" /></div>#}
{#        <input type="submit" value="Submit Description">#}
{#    </form>#}

    <h2 id="description2"></h2>
<div id="mapContainer">
    {{ map2|safe }}
</div>

    {{ script|safe }}


    <script>
    // Listen for messages from the iframe
    window.addEventListener('message', function(event) {
        if (event.origin !== "http://yourdomain.com") { // Change to your domain
            return;
        }
        var data = event.data;
        if (data.lat && data.lon) {
            document.getElementById('latlon').textContent = 'Lat: ' + data.lat + ', Lon: ' + data.lon;
        }
    }, false);

    document.getElementById('submitBtn').addEventListener('click', function() {
    var descriptionText = document.getElementById('description').innerText; // Make sure the ID matches your <h2> element
    var xhr = new XMLHttpRequest();
    xhr.open('POST', '/mappotentialValue', true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.onload = function() {
        if (xhr.status >= 200 && xhr.status < 300) {
            // Here you can handle the response from your Flask app
            // For example, you can parse the response and update the DOM accordingly
            console.log('Server response:', xhr.responseText);

            // If you want to update the page based on the response:
            var response = JSON.parse(xhr.responseText);
            // Update the element that contains the map
            document.getElementById('mapContainer').innerHTML = response.map_html2;
            // Optionally, update the description
            document.getElementById('description2').innerText = response.description;
        } else {
            // Handle errors here
            console.error('The request failed!');
        }
    };
    // Send the description as form data
    xhr.send('description=' + encodeURIComponent(descriptionText));
});
    </script>
</body>
</html>
