<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heat Map</title>
    <style>
        #map-container {
            height: 80vh; /* 80% of the viewport height */
            width: 60vw;  /* 60% of the viewport width */
            margin: 0 auto; /* center the map horizontally */
        }
    </style>
</head>
<body>

<div id="map-container">
    {{ m | safe }}
    </div>

        <div class="col-md-9">
            {% include 'components/listing_tables.html' %}
        </div>MapTest.html
</body>
</html>