<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Houses</title>
    <style>
        #map-container {
            height: 80vh; /* 80% of the viewport height */
            width: 60vw;  /* 60% of the viewport width */
            margin: 0 auto; /* center the map horizontally */
        }
        #maps-wrapper {
    display: flex; /* This enables flexbox */
}

.map-container {
    flex: 1; /* This ensures each map container takes up an equal amount of space */
    /* If you want some spacing between your maps, you can add margin or padding here */
}
    </style>
{#        <script type="text/javascript">#}
{#        function submitForm(address) {#}
{#            // Optionally do something with the selected address here#}
{#            // before or after submitting the form#}
{#            document.getElementById('addressForm').submit();#}
{#        }#}
{#    </script>#}
</head>
<body>

{#<form action="/newbuildlocations" method="post">#}
{#        <label for="numberInput">Enter the Minimun Price point:</label>#}
{#    <input type="number" id="minpriceInput" name="minprice" required>#}
{#    <input type="submit" value="Submit">#}
{##}
{#</form>#}
<div id="maps-wrapper">
    <div id="map-container-new" class="map-container">
        {{ m | safe }}
    </div>
    {#<div id="map-container-old" class="map-container">#}
    {#    {{ m2 | safe }}#}
    {#</div>#}
</div>
{#<form id="addressForm" action="/newbuildlocations" method="post">#}
{#    {% for address in addresses %}#}
{#        <input type="radio" id="{{ address }}" name="address" value="{{ address }}"#}
{#            onchange="submitForm(this.value)" {{ 'checked' if selected_address == address else '' }}>#}
{#        <label for="{{ address }}">{{ address }}</label><br>#}
{#    {% endfor %}#}
{#    <noscript>#}
{#        <input type="submit" value="Submit">#}
{#    </noscript>#}
{#</form>#}
{##}
{#<p>Average Price for {{ selected_address }} is {{ averagenewbuildprice }}</p>#}

</body>
</html>