<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Display</title>
</head>
<body>

<table border="1">
    <!-- Table headers -->
    <thead>
        <tr>
            <th>zpid</th>
            <th>price</th>
            <th>streetAddress</th>
            <th>city</th>
            <th>state</th>
            <th>zipcode</th>
            <th>bedrooms</th>
            <th>bathrooms</th>
            <th>zestimate</th>
            <th>daysOnZillow</th>
            <th>dateSold</th>
            <th>homeType</th>
            <th>ListingLength</th>
        </tr>
    </thead>

    <!-- Table data -->
    <tbody>
        {% for listing in listings %}
        <tr>
            <td>{{ listing.zpid }}</td>
            <td>{{ listing.price }}</td>
            <td>{{ listing.streetAddress }}</td>
            <td>{{ listing.city }}</td>
            <td>{{ listing.state }}</td>
            <td>{{ listing.zipcode }}</td>
            <td>{{ listing.bedrooms }}</td>
            <td>{{ listing.bathrooms }}</td>
            <td>{{ listing.zestimate }}</td>
            <td>{{ listing.daysOnZillow }}</td>
            <td>{{ listing.dateSold }}</td>
            <td>{{ listing.homeType }}</td>
            <td>{{ listing.list2pend }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
