<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <!-- Table headers -->
    <thead>
    <tr>
        {#        <th>zpid</th>#}
        <th>City</th>
        <th>SoldL_30</th>
        <th>Sold7_SFH</th>
        <th>sold7_TCA</th>
        <th>Pending (30)</th>
        <th>Pending (7)_SFH</th>
        <th>Pending (7)_TCA</th>
        <th>Pending (1)</th>
        <th>For Sale</th>
        <th>For Sale 7_SFH</th>
        <th>For Sale 7_TCA</th>
        <th>Latest Brief Listing</th>
    </tr>
    </thead>

    <!-- Table data -->
    <tbody>
    {% for citydata in citiesdata %}
        <tr>
            {#            <td>{{ listing.zpid }}</td>#}
            <td>{{ citydata.name }}</td>
            <td>{{ citydata.sold  }}</td>
            <td>{{ citydata.sold7_SFH  }}</td>
            <td>{{ citydata.sold7_TCA  }}</td>
            <td>{{ citydata.pending  }}</td>
            <td>{{ citydata.pending7_SFH  }}</td>
            <td>{{ citydata.pending7_TCA  }}</td>
            <td>{{ citydata.pending1  }}</td>
            <td>{{ citydata.forsale  }}</td>
            <td>{{ citydata.forsaleadded7_SFH  }}</td>
            <td>{{ citydata.forsaleadded7_TCA  }}</td>
        <td>{{ citydata.updated  }}</td>


        </tr>
    {% endfor %}
    </tbody>
</table>



</body>
</html>